
@import url('https://fonts.googleapis.com/css?family=Philosopher:700|Orbitron|Six+Caps');

.title {
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  margin:0;
  padding:0;
  line-height:0;
}

#format-test {
    padding:25px;
    border: 10px solid transparent;
    border-image:url(https://media.giphy.com/media/xT8qB7fZ7uIykBIWOc/giphy.gif) 30 round;
    transform: scale(.75,.75);
}

h1 {
  font-family: "Philosopher";
	background-image: url(https://media.giphy.com/media/l46C6rYnP1n0C4cdG/giphy.gif);
  background-size:repeat;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 17.5vmax;
  line-height:17.5vmax;
  margin:0;
  padding:0;

}
h2{
  font-family: "Orbitron";
  background-image:url(https://media.giphy.com/media/sRHOB9D4S9DgM8N7Wt/giphy.gif);
  background-size: 140% 140%;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 14.5vmax;
  line-height:14.5vmax;
  margin:0;
  padding:0;


}

h3{
  font-family: "Six Caps";
  /* background-image:url(https://media.giphy.com/media/xT8qB7fZ7uIykBIWOc/giphy.gif); */
  background-image: url(https://media.giphy.com/media/zHfDSSYHWL5cY/giphy.gif);
  background-size:75% 75%;
  background-repeat: repeat;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 11.5vmax;
  line-height:11.5vmax;

  margin:0;
  padding:0;

}

body {
  background:  linear-gradient(45deg,rgba(255, 102, 255,.25),rgba(255, 80, 80,.25),rgba(0, 255, 0,.25),rgba(0, 204, 255,.25)), url(https://media.giphy.com/media/26tn6Me6pD4Bel37G/giphy.gif);
  background-size:125% 125%;
  
   -webkit-animatison: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 0%
  }

  50% {
    background-position: 50% 50%
  }

  100% {
    background-position: 0% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 0%
  }

  50% {
    background-position: 50% 50%
  }

  100% {
    background-position: 0% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 0%
  }

  50% {
    background-position: 50% 50%
  }

  100% {
    background-position: 0% 0%
  }
}

