
@import url('https://fonts.googleapis.com/css?family=Philosopher:700|Orbitron|Merienda');

.title {
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
  font-family: "Philosopher";
	background-image: url(https://media.giphy.com/media/xT8qB7fZ7uIykBIWOc/giphy.gif);
  background-size:repeat;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 25.5vmax;
	line-height: .75;
	margin: 10px 0;

}
h2{
  font-family: "Orbitron";
  background-image:url(https://media.giphy.com/media/sRHOB9D4S9DgM8N7Wt/giphy.gif);
  background-size: 250% 250%;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 17.5vmax;
  line-height: .75;
  margin: 10px 0;
}

h3{
  font-family: "Merienda";
  background-image:url(https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif);
  background-size: 250% 250%;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 12.5vmax;
  line-height: .75;
  margin: 10px 0;
}

body {
  background:  linear-gradient(45deg,rgba(255, 102, 255,.25),rgba(255, 80, 80,.25),rgba(0, 255, 0,.25),rgba(0, 204, 255,.25)), url(https://media.giphy.com/media/26tn6Me6pD4Bel37G/giphy.gif);
  background-size:125% 125%;

   -webkit-animatison: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;

}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 0%
  }

  50% {
    background-position: 50% 50%
  }

  100% {
    background-position: 0% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 0%
  }

  50% {
    background-position: 50% 50%
  }

  100% {
    background-position: 0% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 0%
  }

  50% {
    background-position: 50% 50%
  }

  100% {
    background-position: 0% 0%
  }
}
*/
